<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="">
    <title>Document</title>
</head>
<body>
    <h1>About Us</h1>
    <div class="picture-row">
        <a id="au1" href="#a1-d" class="a-info"><img class="a-picture" src="static/images/ArtistsFace.png"></a>
        <a id="au2" href="#a2-d" class="a-info"><img class="a-picture" src="static/images/ArtistsFace.png"></a>
        <div class="a-break"></div>
        <div class="a-indent"></div>
        <a id="au3" href="#a3-d" class="a-info"><img class="a-picture" src="static/images/ArtistsFace.png"></a>
        <a id="au4" href="#a4-d" class="a-info"><img class="a-picture" src="static/images/ArtistsFace.png"></a>
        <div class="a-break"></div>
        <div class="author-desc" id="a1-d">
            <p>Insert description here (1)</p>
        </div>
        <div class="author-desc" id="a2-d">
            <p>Insert description here (2)</p>
        </div>
        <div class="author-desc" id="a3-d">
            <p>Insert description here (3)</p>
        </div>
        <div class="author-desc" id="a4-d">
            <p>Insert description here (4)</p>
        </div>
    </div>
</body>
</html>
