{% extends "navbar.html" %}
{% block head %}
{{ super() }}
    <script src="static/js/game.js"></script>
    <link rel="stylesheet" href="static/css/game.css">
    <title>Game</title>
{% endblock %}
{% block content %}
    <p>Game ID: {{ gameID }}</p>
    <div id = "game-modal" class="game-modal">
    <div class="game-options">
        <img class="rock" src="static/svg/rock.svg" onclick="sendMessage('rock')"></img>
        <img class="paper" src="static/svg/paper.svg" onclick="sendMessage('paper')"></img>
        <img class="scissors" src="static/svg/scissors.svg" onclick="sendMessage('scissors')"></img>
    </div>
    </div>
    <p id="waiting">Waiting...</p>
    <p id="winner"></p>
{% endblock %}