{% extends "navbar.html" %}
{% block head %}
{{ super() }}
    <title>Nautical Nonsense Rock Paper Scissors</title>
{% endblock %}

{% block content %}
<div class="centerer" style="text-align: center;">
<h1>Nautical Nonsense RPS Registration</h1>

<br><br><br>

<!--Server should handle registration on path /register-->

<!--Body in format:
    email=<email>&password=<password>   
-->

<form action="/register" id="registration-form" method="post">
    <label>Email:</label><br>
    <input type="email" name="email" required><br>
    <label>Password:</label><br>
    <input type="password" name="password"required><br>
    <br>
    <input type="submit" value="Register">
</form>
</div>
{% endblock %}