{% extends "navbar.html" %}
{% block head %}
{{ super() }}
<title>Leaderboard</title>
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leader Board using HTML CSS and Javascript</title>
	<link rel="stylesheet" href="static/css/leaderboard.css">
</head>
<body>

<div class="wrapper">
	<div class="lboard_section">
		<div class="lboard_tabs">
			<div class="tabs">
				<ul>
					<li data-li="today"></li>
					<li class="active" data-li="month">Leaderboard</li>
					<li data-li="year"></li>
				</ul>
			</div>
		</div>

		<div class="lboard_wrap">
			
			<div class="lboard_item month" style="display: block;">
				<div class="lboard_mem">
				</div>
			</div>
		</div>
	</div>
	<script src="static/css/hello.js"></script>
	<script>welcome();</script>

</div>	
{% endblock %}
