{% extends "navbar.html" %}
{% block head %}
{{ super() }}
<title>Document</title>
{% endblock %}
{% block content %}
<div id="login">
    <p>Login Page</p>
    <form action={{url_for("login")}} method="post">
        <label for="login-name" >Username:</label><br/>
        <input id="login-name" type="text" name="username" maxlength=20> <br/>
        <label for="login-pw">Password :</label><br/>
        <input id="login-pw" type="password" name="pw" minlength=8 maxlength=20><br/>
        <div id="under-login">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}
