{% extends "navbar.html" %}
{% block head %}
{{ super() }}
<title>Leaderboard</title>
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="static/css/profilepage.css">

</head>
<body>
    <main>
       
        <div class="Profile">
            <div>
                <img src = "/static/images/userpic.jpg">
            </div>
            <br>
            <br>
            <br>
            <div class="name">Name: </div><div id="username">user0</div>
            <div class="winplace">Number of wins: </div><div id="wins">0 wins</div>
        </div>
        
    </main>
    
</body>
<script src="static/js/profilepage.js"></script>
<script>welcome();</script>


</html>

{% endblock %}
